*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.pytxcode

# User defined
*.pytxcode
*.csv
__pycache__
.venv
AdvMic_Assignment-2.code-workspace
.DS_Store
sample_testbook.ipynb
helper_functions.py

## Latex
*.tex
*.sty
*.bib
frontpage/
illustrations/
sections/
tables/
*.pdf